@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

header {
  background-color: yellow;
}

body {
  font-family: "Roboto";
  height: 100%;
}

main {
  width: 90%;
  margin: auto;
}

nav {
  display: none;
}

article {
  padding: 15px;
}

h2 {
  font-size: 24px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 18px;
}

i {
  font-size: 2em;
  margin-bottom: 10px;
}

.background-blue {
  background-color: #03264c;
}

.color-white {
  color: aliceblue;
}

.img {
  border-top: solid 1px #ebebeb;
}

div.img img {
  width: 100%;
}

.description {
  display: none;
}

.burger-menu {
  text-align: center;
  padding: 10px;
  border-radius: 15%;
}

.border-radius-15 {
  border-radius: 15%;
}

.padding-10 {
  padding: 10px;
}

/*TABLET*/
@media (min-width: 361px) {
  nav {
    display: block;
  }
  article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  .description {
    display: block;
  }
  .burger-menu {
    display: none;
  }
}

/*DESKTOP*/
@media (min-width: 769px) {
}
