@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container-header {
  background-color: #EAC926;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
}

.container-search-bar{
  width: 80%;
  display: flex;
  align-items: center;
}

.container-logo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logo{
  margin-top: 10px;
  width: 50%;
}

.burger-menu button {
  background-color: #1259c3;
  width: 40px;
  height: 40px;
  color: white;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  margin-top: 20px;
}






.container-search-bar div{
  width: 50%;
}

.search-bar {
  flex-grow: 0.5;
  margin-top: 10px;
  width: 80%;
  display: flex;
  align-items: center;
}


.search-bar input[type="text"]{
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  color: inherit;
  height: 2rem;
  font-family: inherit;
  font-size: 0.9rem;
  border: none;
  border-bottom-left-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
}

.search-bar button{
  width: 10%;
  background-color: #fff;
  height: 2rem;
  color: #666;
  border: none;
  margin-bottom: 20px;
  margin-top: 20px;
  border-bottom-right-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

/* .nav-bar {
  display: none;
} */

.flex-grow-70 {
  flex-grow: 0.7;
  color: green;
}

body {
  font-family: "Roboto";
  height: 100%;
}

main {
  width: 90%;
  margin: auto;
}

nav {
  display: none;
}
section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

article {
  padding: 15px;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 18px;
}

i {
  font-size: 2em;
  margin-bottom: 10px;
}

.background-blue {
  background-color: #03264c;
}

.color-white {
  color: aliceblue;
}

.img {
  border-top: solid 1px #ebebeb;
}

div.img img {
  width: 100%;
}

.description {
  display: none;
  transition: transform .5s;
}

.burger-menu {
  text-align: center;
  padding: 10px;
  border-radius: 15%;
}

.border-radius-15 {
  border-radius: 15%;
}

.padding-10 {
  padding: 10px;
}

.container-flex-box {
  display: flex;
}

.flex-grow-30 {
  flex-grow: 0.3;
}

.flex-grow-1 {
  flex-grow: 1%;
}

.flex-grow-2 {
  display: none;
}

.flex-grow-3 {
  display: none;
}

.flex-grow-4 {
  display: none;
}

.container-truck{
  display: flex;
  justify-content: end;
}

/* ANIMACIONES */

article:hover .description{
  display: block;
}

i.rotate{
  transition: transform .5s;
}
article:hover i.rotate{
  transform: rotate(360deg);
}

.container-truck i{
  color: green;
  border-radius: 100%;
  border: solid;
  padding: 10px;
  border-width: thin;
}

footer{
  display: flex;
  justify-content: space-around;
}

footer div i{
  color: green;
}

/*TABLET*/
@media (min-width: 361px) {
  nav {
    display: block;
  }
  section {
    flex-wrap: nowrap;
  }
  article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  .description {
    display: block;
  }
  .burger-menu {
    display: none;
  }
  .flex-grow-1 {
    margin-right: 15px;
  }
  .flex-grow-2 {
    display: block;
  }
}

/*DESKTOP*/
@media (min-width: 769px) {
  .flex-grow-2 {
    margin-right: 15px;
  }

  .flex-grow-3 {
    display: block;
    margin-right: 15px;
  }

  .flex-grow-4 {
    display: block;
  }
}
